<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/npm/bootstrap/dist/css/bootstrap.css'></script>
    <script src='/npm/angular/angular.js'></script>
    <script src='/client/javascript/app.js'></script>
    <script src='/client/javascript/employees_ctrl.js'></script>
    <script src='/client/javascript/employees_factory.js'></script>
    <title>Northwind Sales</title>

  </head>
  <body ng-app='salesApp'>

  <div class="container-fluid" ng-controller='EmployeesCtrl'>
  	   <div ng-show="displayError" class="alert alert-danger">
          {{ errorMessage }}
        </div>
	<div class="row">
		<div class="col-md-4" >
			<h2>
				Add a Sales Person
			</h2>
			
			<form role="form">
				<div class="form-group">
					<label>
						Name
					</label>
					<input type="text" class="form-control" ng-model='employee.name' >
					<br>
					<span ng-repeat="(region, active) in regions"><button class="btn" ng-class="{'btn-primary': active,'btn-secondary': !active}" ng-click="toggleRegion(region)">{{ region }} </button></span>
					<br>
					<button type="submit" class="btn btn-default" ng-click='addEmployee()'>Submit</button>
				</div>

			</form>
		</div>
	</div>
	<div class="col-md-4" ng-repeat="employee in employees">
		<div class="panel panel-default" ng-class="{ 'panel-danger': employee.regions.length === 0, 'panel-success' : employee.regions.length >= 3 }">
			<div class='panel-heading'> {{ employee.name }}
				<div class='pull-right'><button class='btn-xs btn-danger' ng-hide="employee.regions.length >0" ng-click='deleteEmployee(employee._id)'>Delete</button></div>
			</div>
			<div class='panel-body'>
				<div class='col-xs-3' ng-repeat='(region, active) in regions' class='list-group-item'>
					<button class='btn-xs' ng-class="{'btn-primary': isActive(employee, region)}" ng-click='updateRegion(employee, region)'> {{ region }} </button>
			</div>

		</div>
	</div>	
  </div>

  </body>
</html>